<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div align="center" class="logo">
    <ion-img src="assets/logo/logo.png"></ion-img>
    <ion-text color="primary"> Deep Chat </ion-text>
  </div>

  <ion-card class="ion-padding">
    <form [formGroup]="form">
      <ion-input
        placeholder="Name"
        type="text"
        class="ion-margin-bottom"
        formControlName="name"
        errorText="*Pleace enter your name"
      >
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-input>
      <ion-input
        placeholder="Email"
        type="email"
        class="ion-margin-bottom"
        formControlName="email"
        errorText="*Pleace enter your email"
      >
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>

      <ion-input
        placeholder="Password"
        type="text"
        formControlName="password"
        [errorText]="form.get('password')?.hasError('minlength')? '* Password must be atleast 8 characters long' : '* Pleace enter your passowrd'"
      >
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input-password-toggle
          slot="end"
          color="dark"
        ></ion-input-password-toggle>
      </ion-input>

      @if(!isSignup()){
      <ion-button
        size="large"
        expand="block"
        class="ion-margin-top ion-padding-top"
        [strong]="true"
        (click)="onSubmit()"
      >
        <ion-text> Sign up </ion-text>
      </ion-button>
      }@else{
      <ion-button
        size="large"
        expand="block"
        class="ion-margin-top ion-padding-top"
        [strong]="true"
      >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
      }
    </form>
  </ion-card>
  <ion-alert
    [isOpen]="!!errorMessage()"
    (didDismiss)="setErrorMessage(null)"
    header="Alert"
    [message]="errorMessage()"
    [buttons]="['OK']"
  >
  </ion-alert>
</ion-content>
